<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/vjinn">Follow @vjinn</a>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/vjinn/vjinn.github.io" data-icon="octicon-star">Star</a>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/vjinn/vjinn.github.io" data-icon="octicon-eye">Watch</a>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/vjinn/vjinn.github.io/issues" data-icon="octicon-issue-opened">Issue</a>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/vjinn/vjinn.github.io" data-icon="octicon-git-branch">Fork</a>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/vjinn/vjinn.github.io/archive/master.zip" data-icon="octicon-cloud-download">Download</a>

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
