<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko-kr">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h1 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h1>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>
	  
	{% include ads.html %}

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
		{% include anchor.html %}
		{% include analytics.html %}
  </body>
</html>
